* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: #0e1538;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn a {
    position: relative;
    width: 260px;
    height: 100px;
    display: inline-block;
    background: white;
    margin: 20px;
}

.btn a::before,
.btn a::after {
    content: " ";
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
}

.btn a:nth-child(1)::before,
.btn a:nth-child(1)::after {
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

.btn a:nth-child(2)::before,
.btn a:nth-child(2)::after {
    background: linear-gradient(45deg, #ff075b, #0e1538, #0e1538, #1aff22);
}

.btn a:hover::before {
    inset: -3px;
}

.btn a:hover::after {
    inset: -3px;
    filter: blur(10px);
}

.btn a button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0e1538;
    display: inline-block;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    border: 1px solid #040a29;
    overflow: hidden;
}

.btn a button::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}